.sidebar{
    position: absolute;
    right: 0%;
    top: 0%;
    height: 100vh;
    width: 20vw;
    background-color: blueviolet;
    margin: 0px;
    z-index: 2;
}
.resetButton{
    position: relative;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 18vw;
}
.actionLayer{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 80vw;
    background-color: brown;
    background-size: 80vw;
    background-position: left 0px top 0px;
    background-repeat: no-repeat;
}
.schemeSelection{
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 18vw;
    height: 300px;
    background-color: coral;
}
.legend{
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 18vw;
    height: 300px;
    background-color: pink;
}
.legendIcon{
    width: 25px;
    margin: 5px;
    vertical-align: middle;
}
.elementLegend{
    margin-left: 5px;
    margin-right: 5px;
}
.selectionButton{
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20px;
    width:100%;
}