.sidebar{
    position: absolute;
    right: 0%;
    top: 0%;
    height: 100vh;
    width: 20vw;
    background-color: #b8a9c9;
    margin: 0px;
    z-index: 2;
}
.reset-button{
    position: relative;
    margin: 15px 0px 15px 15px;
    width: 18vw;
}
.action-layer{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 80vw;
    background-color: #d6d4e0;
    background-size: 80vw;
    background-position: left 0px top 0px;
    background-repeat: no-repeat;
}
.scheme-selection{
    position: relative;
    margin: 5px 15px;
    width: 18vw;
    height: auto;
}
.legend{
    position: relative;
    margin: 5px 15px;
    width: 18vw;
    height: auto;
}
.legend-icon{
    width: 30px;
    margin: 5px;
    vertical-align: middle;
}
.element-legend{
    margin: 5px;
}
.selection-button{
    position: relative;
    margin: 5px 0;
    height: 20px;
    width:100%;
}
.btn{
    color: #d6d4e0;
    display: block;
    height: 30px;
    border: none;
    background-color: #622569;
    font-size: 1.3em;
}
.btn:hover{
    color: white;
}
.text-legend{
    color: #622569;
    size: 1.5em;
    font-weight: bolder;
}